#container {
    height: 100%;
}

.column {
    padding: 2em;
}

/* #name {
    height: auto;
    min-width: 10%;
} */

h1 {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.divider {
    position: relative;
}

#edit-button {
    position: absolute;
    top: 2em;
    left: 40%;
    min-width: 32px;
    width: 32px;
    min-height: 32px;
    height: 32px;
    padding: 0px 4px;
    line-height: 1px;
}

mat-form-field {
    width: 80%;
}

/* 
.block-end {
    margin-bottom: 5px;
}

#class-name {
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
}

#exp {
    display: block;
    text-align: center;
}

.label-size {
    font-size: 75%;
}

#nextLvl {
    float: right;
}

#stat-block {
    margin-top: 1em;
    border: 1px solid lightgrey;
    padding: 2% 0%;
}

.stat-info {
    margin: 0%;
    text-align: center;
}

.center-icon {
    text-align: center;
}

.stat-save {
    margin-top: 1em;
    font-size: 10px;
    height: 10px;
    width: 10px;
}

app-ability {
    border: 1px solid lightgrey;
} */